body {
    display: grid;
    background-color: rgba(255, 149, 0, 0.3);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header {
    background-color:rgba(0, 13, 255, 0.3);
    grid-column: span 10;
    text-align: left;
}

nav {
    background-color:rgba(0, 13, 255, 0.3);
    grid-column: span 10;
    text-align: right;
}

main {
    background-color:rgba(255, 0, 0, 0.3);
    grid-column-start: 3;
}

footer {
    background-color:rgba(242, 255, 0, 0.3);
    grid-column-start: 3;
    text-align: center;
    grid-row: 7;
}