body {
    display: grid;
    background-color: white;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

.irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .finger-paint-regular {
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  header {
    background-image: linear-gradient(to right, red, white);
    font-family: 'Irish Grover';
    grid-column: span 10;
    text-align: left;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header h1 {
    display: inline;
    float: left;
    margin: 0;
}

header nav {
    float: right;
    text-decoration: none;
    font-family: 'Inter';
    
}

div {
    background-image: linear-gradient(rgba(255, 0 , 0 , 0.5) , rgba(255, 255, 255, 0.5)), url(cat.png);
    background-repeat: no-repeat;
    font-family: 'Irish Grover';
    background-position: center;
    border: 69%;
    width: auto;
    justify-content: space-evenly;
    grid-column: span 10;
    grid-row: 2 / 3;
    text-align: center;
    color: white;
}

main {
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 0 , 0 , 0.2));
    grid-column-start: 3;
    grid-column: 1 / -1;
    font-family: 'Finger Paint';
    font-size: small;
}

footer {
    background-color: white ;
    grid-column-start: 3;
    text-align: center;
    grid-row: 7;
    grid-column: span 10;
    margin: 1px;
}

footer p {
    margin: 1px;
}