body {
    display: grid;
    background-color: white;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

.irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .finger-paint-regular {
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  header {
    background-image: linear-gradient(to right, red, white);
    font-family: 'Irish Grover';
    grid-column: span 10;
    text-align: left;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



header h1 {
    display: inline;
    float: left;
    margin: 0;
}

header nav {
    float: right;
    font-family: 'Inter';
}

a {
    color: black;
    text-decoration: none;
}

#divider {
    background-image: linear-gradient(rgba(255, 0 , 0 , 0.5) , rgba(255, 255, 255, 0.5)), url(cat.png);
    background-repeat: no-repeat;
    font-family: 'Irish Grover';
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
    grid-column: span 10;
    grid-row: 2 / 3;
    text-align: center;
    color: white;
}

#one {
    width: 420px;
    height: 410px;
    background: url(cat5.png);
    box-shadow: -9px 8px 4px rgba(0, 0, 0, 0.75);
}

#onetext {
    text-align: left;
}

#two {   
    display:flex;
    float: right;
    width: 295px;
    height: 269px;
    left: 712px;
    top: 481px;
    background: url(cat6.png);
    box-shadow: 9px 8px 4px rgba(0, 0, 0, 0.75);
}

#twotext {
    text-align: right;
}

#three {
    width: 444px;
    height: 414px;
    left: 621px;
    top: 1062px;
    background: url(cat7.png);
    box-shadow: 9px 8px 4px rgba(0, 0, 0, 0.75);
}

#threetext {
    text-align: left;
}

main {
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 0 , 0 , 0.2)), url(silloet.png);
    background-repeat: repeat;
    background-size: 100%;
    background-position: auto;
    grid-column-start: 3;
    grid-column: 1 / -1;
    font-family: 'Finger Paint';
    font-size: small;
}

footer {
    background-color: white ;
    grid-column-start: 3;
    text-align: center;
    grid-row: 7;
    grid-column: span 10;
    margin: 1px;
}

footer p {
    margin: 1px;
    font-family: 'Lemon';
    font-size: small;
}